.appointments-container {
	font-family: "Roboto", sans-serif;
	max-width: 1000px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.appointments-dates {
	display: grid;
	grid-template-columns: repeat(auto-fit, 5.2em);
	grid-gap: 0.3em;
	justify-content: space-evenly;
	justify-items: center;
	justify-self: center;
	align-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}
.appointment-date-notavail {
	cursor: not-allowed;
}
.appointment-date {
	border: 2px solid #0347b5;
	width: 100%;
	padding: 1em;
	border-radius: 2em;
	transition: 0.3s;

	display: grid;
	justify-items: center;
}
.appointment-date-notavail {
	border-color: rgb(70, 70, 70);
	background-color: rgba(190, 190, 190, 0.4);
	color: rgb(70, 70, 70) !important;
	cursor: auto;
	pointer-events: none;
}
.appointment-date > span:first-of-type {
	font-size: 2em;
	font-weight: bold;
}
.appointment-date-avail {
	background-color: rgba(255, 255, 255, 0.4);
	color: #0347b5;
}
.appointment-date-selected {
	background-color: #0347b5;
	border-color: #0347b5;
	color: white;
}
.appointments-heaning {
	padding: 2em;
	text-align: center;
}
.appointments-hours {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
	justify-content: space-evenly;
	justify-items: center;
	grid-gap: 0.5em;
}
.appointments-hours > div {
	padding: 0.2em 0.5em;
	border-radius: 1em;
	background-color: rgba(255, 255, 255, 0.4);
	border: 2px solid #0347b5;
	color: #0347b5;
	cursor: pointer;
	transition: 0.3s;
}
.appointments-hours-not-avail {
	border-color: rgb(70, 70, 70) !important;
	background-color: rgba(190, 190, 190, 0.4) !important;
	color: rgb(70, 70, 70) !important;
	cursor: auto;
	pointer-events: none;
}
.appointments-hours-selected {
	background-color: #0347b5 !important;
	border-color: #0347b5 !important;
	color: white !important;
}
.appointments-pricing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.appointments-pricing > div {
	padding: 0.2em 0.5em;
	border-radius: 1em;
	background-color: rgba(255, 255, 255, 0.4);
	border: 2px solid #0347b5;
	color: #0347b5;
	cursor: pointer;
	transition: 0.3s;
	margin: 0.5em;
}
.appointments-pricing-selected {
	background-color: #0347b5 !important;
	border-color: #0347b5 !important;
	color: white !important;
}
.appointments-pricing-not-avail {
	border-color: rgb(70, 70, 70) !important;
	background-color: rgba(190, 190, 190, 0.4) !important;
	color: rgb(70, 70, 70) !important;
	cursor: auto;
	pointer-events: none;
}

button {
	color: white;
	padding: 10px 20px !important;
	background-size: 200% auto;
	background-image: linear-gradient(
		to right,
		rgb(4, 75, 184) 0%,
		rgb(32, 137, 202) 51%,
		#0042bd 100%
	);
	transition: 500ms;
	box-shadow: 0 0 20px #eee;
	font-family: "Roboto", sans-serif;
	font-size: 1.3em;
	border: none;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	margin: 1.3em 0;
}

button:hover {
	background-position: right center;
}

button:disabled {
	background-color: rgb(112, 112, 112);
	color: rgb(235, 235, 235);
	background-image: none;
	cursor: unset;
}
