.doctor-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	grid-gap: 2em;

	padding-top: 2em;
	justify-content: space-evenly;
}

.doctor-title {
	grid-column: span 2;
}

@media screen and (max-width: 700px) {
	.doctor-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0.5em;
	}
	.doctor-title {
		grid-column: span 1;
	}
}

@media screen and (min-width: 1200px) {
	.doctor-container {
		align-content: center;
		align-self: center;
		justify-self: center;
		text-align: center;
		grid-template-columns: 525px 525px;
	}
	.doctor-title {
		grid-column: span 2;
	}
}
